* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #081b29;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  background: linear-gradient(to right, #081b29, #959899);
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

section {
  padding-top: 80px; /* Ensures no overlap with the fixed navbar */
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 10%;
  background: url("../image/Portfolio_background.png") no-repeat center
    center/cover;
  margin-top: 80px; /* Ensure that the home section starts below the navbar */
}

.home-content {
  max-width: 600px;
  padding-top: 60px; /* Adjust the padding to ensure the content is visible */
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
  background: #081b29;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  background: #081b29;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  line-height: 1.6;
  max-width: 600px;
  text-align: left;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
  background: #081b29;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 50px;
  gap: 20px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  background: #081b29;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: relative;
  bottom: -50px;
  width: 170px;
  /* margin-top: 1000px;
  margin-right: 2500px; */
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  background: #081b29;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.3s;
  background: #00abf0;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-container{

}
.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

.about {
  padding: 80px 10% 60px 10%;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #00abf0;
  text-align: center;
}

.about-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 80px;
}

.about-subsection {
  margin-bottom: 40px;
}

.about-subsection h3 {
  font-size: 28px;
  color: #00abf0;
  margin-bottom: 15px;
  text-align: center;
}

.about-subsection p {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
  margin-bottom: 20px;
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category h4 {
  font-size: 24px;
  color: #00abf0;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  /* justify-content: center; */
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-icons a {
  display: inline-block;
  margin-right: 10px;
}

.skill-icons img {
  width: 100px; /* Adjust the width based on the size you prefer */
  height: auto;
  transition: transform 0.3s ease;
}

.skill-icons img:hover {
  transform: scale(1.1);
}

.projects {
  padding: 80px 10%;
  background-color: #081b29;
  color: #ededed;
}
.projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #00abf0;
  text-align: center;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  /* flex-direction: column; */
}

.projects-subsection {
  max-width: 500px;
  text-align: left;
}

.projects-subsection img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* New shadow */
}

.projects-subsection img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.projects-subsection h3 {
  font-size: 28px;
  color: #00abf0;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.projects-subsection:hover h3 {
  opacity: 1;
  transform: translateY(0);
}

.projects-subsection p {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
  text-align: left;
}

.projects-link {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-link a {
  color: #00abf0;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.projects-link a:hover {
  color: #ededed;
  text-decoration: underline;
}
.project-feature {
  margin-top: 20px;
}
.contact {
  padding: 80px 10%;
  background-color: #081b29;
  color: #ededed;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #00abf0;
  text-align: center;
}

.contact p {
  font-size: 18px;
  color: #cccccc;
  text-align: center;
  max-width: 800px;
  margin: 20px auto 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about h2,
  .projects h2,
  .contact h2 {
    font-size: 28px;
  }

  .about-subsection h3,
  .projects-subsection h3 {
    font-size: 24px;
  }

  .about-subsection p,
  .projects-subsection p {
    font-size: 16px;
  }

  .home-content p {
    font-size: 16px;
  }

  .btn-box {
    flex-direction: column;
    align-items: center;
  }

  .home-content h1 {
    font-size: 48px;
  }

  .home-content h3 {
    font-size: 28px;
  }

  .home-content p {
    max-width: 100%;
  }
}
.contact form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background: #f9f9f9; */
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #00abf0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #007bff;
}
.footer {
  text-align: center;
  padding: 38px;
  background-color: #333;
  color: #fff;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
  transform: scale(1.2);
  color: #f39c12;
}
